" Unbind arrow keys in normal mode to enforce hjkl navigation
nnoremap <Up> <Nop>
nnoremap <Down> <Nop>
nnoremap <Left> <Nop>
nnoremap <Right> <Nop>

" Allows for shifting code up and down (note: overrides the Join (J) command)
nnoremap J :m .+1<CR>==
nnoremap K :m .-2<CR>==
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Allows for indenting in normal and visual mode
nnoremap <Tab> >>
nnoremap <S-Tab> <<
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" Allows for navigation of IntelliJ tabs
nnoremap <C-h> :tabprevious<CR>
nnoremap <C-l> :tabnext<CR>

" Opening the ProjectToolWindow
command! E :action ActivateProjectToolWindow

" Navigating the Project Tool Window
set NERDTree

